<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {{!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script> --}}
</head>
<body>
    
<button id="rzp-button1">Pay</button>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "{{config.razorPayKey}}", // Enter the Key ID generated from the Dashboard
    "amount": "{{payment.totalAmount}}", // Amount is in currency subunits. Default currency is INR. Hence, 29935 refers to 29935 paise or INR 299.35.
    "currency": "INR",
    "name": "{{payment.product.name}}",
    "description": "{{payment.product.slug}}",
    "image": "/images/footer-logo.png",
    "order_id": "{{payment.gatewayDetails.razorPay.orderId}}",//Order ID is generated as Orders API has been implemented. Refer the Checkout form table given below
    "handler": function (response){
        console.log("Payment Response", response);
        alert(response.razorpay_payment_id);
    },
    "prefill": {
        "name": "{{payment.buyer.name}}",
        "email": "{{payment.buyer.email}}",
        "contact": "{{payment.buyer.phoneNumber}}"
    },
    "notes": {
        "address": "note value"
    },
    "theme": {
        "color": "#F37254"
    }
};
var rzp1 = new Razorpay(options);
//document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    //e.preventDefault();
//}
</script>


</body>
</html>>