<!DOCTYPE html>
<html>
    <head>
        <title>Success - {{appName}}</title>

        <link rel="shortcut icon" type="image/png" href="/images/favicon.ico"/>
        <link rel="shortcut icon" type="image/png" href="/images/favicon.ico"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>


        <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">

        <style>
            html, body {
                height: 100%;
            }

            body {
                margin: 0;
                padding: 0;
                width: 100%;
                color: #B0BEC5;
                display: table;
                font-weight: 100;
                font-family: 'Lato', sans-serif;
            }

            .container {
                text-align: center;
                display: table-cell;
                /*padding-top: 15% !important;*/
                vertical-align: middle;
            }

            .content {
                text-align: center;
                display: inline-block;
            }

            .title {
                font-size: 35px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="content">

            <center>
                <img class="profile-img" src="/images/footer-logo.png" alt="{{appName}}" title=="{{appName}}">
            </center>
            
            <br>

            <div class="alert alert-success">
                <div class="title">{{message}}</div>
            </div>
                
            </div>
        </div>
    </body>
</html>
