<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Socket</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel="shortcut icon" type="image/png" href="/images/favicon.ico"/>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.ico"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">

</head>
<body>



        <div class="container">
            <div class="content">

            <center>
                <img class="profile-img" src="/images/footer-logo.png" alt="{{appName}}" title=="{{appName}}">
            </center>
            
            <br>

            {{!-- <div class="alert alert-danger">
                <div class="title">{{message}}</div>
            </div> --}}
                
            </div>
        </div>

    
</body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

    <script>
        //const socket = io();
        namespaceSocket = io("/{{namespace}}", {
            query: {
                token: "{{token}}"
            },
            forceNew: true
        });

        console.log("namespaceSocket Before ON Listener", namespaceSocket, "{{namespace}}");

        namespaceSocket.on('Error', (response) => {
            console.error("Error Event Received", response);
        });
        namespaceSocket.on("AuthError", (response) => {
            console.error("AuthError Event Received", response);
        });

        namespaceSocket.on('Common', (data) => {
            console.log("Common = ", data);
        });

        namespaceSocket.on('Notification', (data) => {
            console.log("Notification = ", data);
        });

        

    </script>

</html>